h2 {
    font-family: Roboto;
    text-align: center;
}
h4 {
    font-family: Roboto;
    text-align: center;
}

body {
    background: rgb(207,134,238);
background: radial-gradient(circle, rgba(207,134,238,1) 5%, rgba(174,90,222,1) 29%, rgba(149,73,204,1) 54%, rgba(111,0,221,1) 100%);
}
.picture {
    width: 250px ;
    height: 200px;
    object-fit: cover;
    object-position: -60px -30px;
    border-radius: 20%;
    border-top-right-radius:40% ;
    border-bottom-right-radius: 40%;
 


}
#artur {
    text-align: justify ;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
 {
    background-color:#283618 ;
}
